<div class="text-center bg-light" style="position: relative;">
  <h1>Jason Clair</h1>
  <h3>Software Developer</h3>


  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://www.linkedin.com/in/jasonclairsoftware/" target="_blank" class="">
      <img src="../../assets/LinkedIn.png" alt="Linkedin Logo" width="24" height="24" class="rounded-circle me-2">
    </a>

    <a href="https://github.com/jasonclairsoftware" target="_blank" class="">
      <img src="../../assets/GitHub.png" alt="GitHub Logo" width="24" height="24" class="rounded-circle me-2">
    </a>
  </div>
</div>
