<!--Container for main header-->
<div class="text-center bg-black" style="position: relative;">
  <h1 style="color: magenta;">Jason Clair</h1>
  <h3 style="color: cyan;">Software Developer</h3>

  <!--Links for media images-->
  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://www.linkedin.com/in/jasonclairsoftware/" target="_blank">
      <img src="../../assets/LinkedIn.png" alt="Linkedin Logo" width="24" height="24" class="rounded-circle me-2">
    </a>

    <a href="https://github.com/jasonclairsoftware" target="_blank">
      <img src="../../assets/GitHub.png" alt="GitHub Logo" width="24" height="24" class="rounded-circle me-2">
    </a>

  </div>
</div>
