<div class="container">
  <div class="row">
    <!--Summery-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h1>About Me</h1>
        <img src="../../assets/me.jpg" alt="Me" width="256" height="256" class="rounded-circle">
        <p>Responsible team leader with a strong passion for Software Development. With over ten years of professional
          experience in high level programming practices, exceptional analytical skill sets, and proven time management
          expertise. Self-starting problem solver who takes personal responsibility for overall project success.

        </p>
      </div>
    </div>

    <!--Featured project-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{featuredProject.name}}</h4>
      </div>

      <carousel>
        <div *ngFor="let picture of featuredProject.imagelinks">
          <slide><img src={{picture}} alt="demo" style="display: block; width: 100%;"></slide>
        </div>
      </carousel>
      <p class="mt-2">{{featuredProject.summary}}</p>
      <p>Visit the Portfolio section to learn more!</p>
    </div>
  </div>
</div>
